body {
    font-family: Microsoft YaHei;
}

.recentCourse {
    color: #e67817;
    /*color: #333;*/
}

/*body.subIntTem a {*/
    /*color: #e67817;*/
    /*!*color: #333;*!*/
    /*text-decoration: underline;*/
/*}*/

body.signup {
    background-image: url(../images/13/bgimg.png);
    background-size: cover;
    color: #e67817
}

body.backstage {
    /*max-width: 800px;*/
}

a {
    color: #333;
}

#coursePrice {
    width: 65%;
}

.panel-default>.panel-heading {
    color: #666;
}

.recentCourse .panel-footer {
    color: #333;
}

.text-center {
    margin: 0 auto;
    padding-top: 0.4em;
    padding-bottom: 0.4em;
    font-weight: 500;
}

.list-unstyled {
    margin-bottom: 0;
}

.manage-course-head {
    background-color: #e67817;
    color: #fff;
}

.signup-form {
    padding-left: 2.5em;
    padding-right: 2.5em;
    margin-top: 2.2em;
}

.signup-form>ul {
    margin-bottom: 12.3em;
}

.signup-form ul li label {
    width: 30%
}

.signup-form ul li input {
    width: 67%;
    display: inline-block;
}

.signup-form button {
    border-color: #e67817;
    width: 12em;
    color: #e67817;
}

.content ul {
}

.content li {
    margin-bottom: 1em;
    margin-top: 1em;
    position: relative;

}

.content li :first-child {
    /*margin-top: 1em;*/
}

.content li a {
}

.content li img {
/*    background-image: url(../images/content/1.png);
    background-size: 100%;
    height: 100%;*/
    width: 100%;
}

.content ul li p.content-title {
    position: absolute;
    top: 0.4em;
    left: 0.4em;
    background-color: #e67817;
    border-radius: 0.3em;
    color: #fff;
    font-size: 12px;
}

.content-price {
    position: absolute;
    color: #fff;
    font-size: 12px;
    left: 0.4em;
    top: 8.2em;
    width: 100%;
}

.content-price .pull-right {
    margin-right: 0.8em;
}

.interface-title-container {
    position: relative;
}

.interface-title-container>img {
    width: 100%;
}

.interface-title ,.interface-subtitle {
    position: absolute;
    text-align: center;
    left: 0;
    right: 0;
}

.interface-title {
    top: 2.5em;
    color: #fff;
}

.interface-subtitle {
    top: 6.5em;
}

.interface-subtitle strong {
    background-color: #e67817;
    border-radius: 0.3em;
}

.interface-border {
    padding: 0;
    margin: 1em;
}

.interface-border h4 {
    text-align: center;
    font-size: 20px;
    margin: 0;
}

.interface>ul {
    margin-top: 1em;
}

.interface>ul>h4 {
    background-color: #e67817;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    font-weight: 600;
    color: #fff;
}

.interface .panel-body {

}

.Activity li, .fatIntTem li {
    padding: 0;
    margin: 1em;
}

.interface li {
    padding: 0;
    margin: 1em;
}

.interface li .panel-body .pull-left {
    line-height: 2;
}

.interface li p {
    display: inline-block;
    margin: 0;
    max-width: 55%;
}

.interface li div :first-child {

}

.interface li div p {
    display: inline-block;
}

.subIntTem h4,.recentCourse h4,.fatIntTem h4 {
    height: 1em;
    background-color: #eeeeee;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 1em;
    padding-bottom: 1em;
    line-height: 0em;
}

.subIntTem>ul>li {
}

.subIntTem>ul>li>div {
    padding: 1em 0;
    margin-left: 1em;
    margin-right: 1em;
}

.subIntTem>ul>li>div .pull-left {
    max-width: 70%;
}

.subSubInt .interface-title {
    color: #fff;
}

.subSubInt .interface-subtitle {
    top: 6.5em;
    color: #fff;
    background-color: transparent;
}

.subSubInt-1 {
    padding: 0em;
    margin: 1em;
}

.subSubInt .well {
    margin: 1em;
}

.subSubInt-1>h4 {
}

.subSubInt-1>p {
    line-height: 2em;
}

.subSubInt-2 {
    background-color: #e67817;
    color: #fff;
}

.subSubInt-2 span {
    font-size: 28px;
    line-height: 0.7em;
}

.subSubInt-text {
    line-height: 2em;
    margin-top: 1em;
}

.subSubInt-img {
    margin-top: 1em;
}

.study-help>.container {
    margin-top: 1em;
    line-height: 1.8em;
}

.study-help>.dropdown {
    position: fixed;
    margin-top: -0.5em;
}

.study-help h4 {
    margin-bottom: 0.5em;
}

#courseDescription {
    margin-top: 1em;
}

body.backstage p {
    margin-top: 1em;
}

body.backstage .cursor-keep {
    cursor: default;
}

body.backstage .course-style {
    margin-top: 1em;
}

body.backstage .title-left {
    max-width: 65%;
    line-height: 2;
}

body.backstage #courseFile {
    margin-bottom: 1em;
}

body.recentCourse .panel-body .pull-left {
    max-width: 65%;
}

body.recentCourse a, a:active {
    color: #333;
    text-decoration: none;
}

body.recentCourse ul>h4 {
}

body.recentCourse li {
    margin: 1em;
    padding-left: 0em;
    padding-right:0em;
}

body.recentCourse li>div {

}

body.recentCourse .panel-body>.pull-left {
    line-height: 2;
    color: #333;
}

body.recentCourse .panel-body>.pull-right {
}

body.recentCourse .panel-heading {
    background-color: #e67817;
    color: #fff;
}

pre {
    font-family: inherit;
    font-size: inherit;
    padding: 0;
    margin: 0;
    border: none;
    background-color: inherit;
    color: inherit;
    overflow: inherit;
    max-width: 65%;
    white-space: pre-wrap;
}

.pull-left {
    max-width: 65%;
}

.interface pre,.recentCourse pre {
    max-width: 100%;
}

.link-margin {
    margin-top: 2em;
}

.panel-default>.panel-heading {
    background-color: #e67817;
    color: #fff;
}

.panel-default>.panel-body {
    color: #333;
}

.panel-default>.panel-body {
    color: #333;
}

.fatIntTem li {
    color: #333;
}

.fatIntTem a {
    color: #666;
}

.fatIntTem h4 {
    color: #e67817;
}

.fatIntTem .panel-heading {
    background-color: #e67817;
    color: #fff;
    border-color: #e67817;
}

.fatIntTem .panel-body {
    background-color: #eee;
    color: #666;
}